Импорт библиотеки и чтение таблицы:

In [1]:
import pandas as pd
df = pd.read_csv('auto.csv')
print(df.head(20))

                               Name  year  SellingPrice  kmdriven     fuel  \
0                     Maruti 800 AC  2007       60000.0   70000.0   Petrol
1          Maruti Wagon R LXI Minor  2007      135000.0   50000.0   Petrol
2              Hyundai Verna 1.6 SX  2012      600000.0  100000.0   Diesel
3            Datsun RediGO T Option  2017      250000.0   46000.0   Petrol
4             Honda Amaze VX i-DTEC  2014      450000.0  141000.0   Diesel
5              Maruti Alto LX BSIII  2007      140000.0  125000.0   Petrol
6         Hyundai Xcent 1.2 Kappa S  2016      550000.0   25000.0   Petrol
7         Tata Indigo Grand Petroll  2014      240000.0   60000.0   Petrol
8          Hyundai Creta 1.6 VTVT S  2015      850000.0   25000.0  Petroll
9          Maruti Celerio Green VXI  2017      365000.0   78000.0      CNG
10          Chevrolet Sail 1.2 Base  2015      260000.0   35000.0   Petrol
11         Tata Indigo Grand Petrol  2014      250000.0  100000.0   Petrol
12  Toyota Corolla Altis 1.8 VL CVT  2018     1650000.0   25000.0   Petrol
13                    Maruti 800 AC  2007       60000.0   70000.0   Petrol
14         Maruti Wagon R LXI Minor  2007      135000.0   50000.0   Petrol
15             Hyundai Verna 1.6 SX  2012      600000.0  100000.0   Diesel
16           Datsun RediGO T Option  2017      250000.0   46000.0   Petrol
17            Honda Amaze VX i-DTEC  2014      450000.0  141000.0   Diesel
18             Maruti Alto LX BSIII  2007      140000.0  125000.0   Petrol
19        Hyundai Xcent 1.2 Kappa S  2016      550000.0   25000.0   Petrol

   seller_Type transmission         owner
0   Individual       Manual   First Owner
1   Individual       Manual   First Owner
2   Individual       Manual   First Owner
3   Individual       Manual   First Owner
4   Individual       Manual  Second Owner
5   Individual       Manual   First Owner
6   Individual       Manual   First Owner
7   Individual       Manual  Second Owner
8   Individual       Manual   First Owner
9   Individual       Manual   First Owner
10  Individual       Manual   First Owner
11  Individual       Manual   First Owner
12      Dealer    Automatic   First Owner
13  Individual       Manual   First Owner
14  Individual       Manual   First Owner
15  Individual       Manual   First Owner
16  Individual       Manual   First Owner
17  Individual       Manual  Second Owner
18  Individual       Manual   First Owner
19  Individual       Manual   First Owner

Оценка данных (есть ли пропуски, сколько всего строк, какие типы данных у столбцов):

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4344 entries, 0 to 4343
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          4344 non-null   object
 1   year          4344 non-null   int64
 2   SellingPrice  4342 non-null   float64
 3   kmdriven      4343 non-null   float64
 4   fuel          4343 non-null   object
 5   seller_Type   4344 non-null   object
 6   transmission  4344 non-null   object
 7   owner         4344 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 271.6+ KB

Оценка числовых столбцов:

In [38]:
print(df.describe())

              year  SellingPrice       kmdriven
count  4344.000000  4.342000e+03    4343.000000
mean   2013.092311  5.039987e+05   66193.063320
std       4.214543  5.784465e+05   46636.648764
min    1992.000000  2.000000e+04       1.000000
25%    2011.000000  2.100000e+05   35000.000000
50%    2014.000000  3.500000e+05   60000.000000
75%    2016.000000  6.000000e+05   90000.000000
max    2020.000000  8.900000e+06  806599.000000

Вывод названий столбцов:

In [39]:
print(df.columns)

Index(['Name', 'year', 'SellingPrice', 'kmdriven', 'fuel', 'seller_Type',
       'transmission', 'owner'],
      dtype='object')

Изменение названий столбцов:

In [40]:
df.rename(columns={
    'Name': 'name',
    'year': 'year',
    'SellingPrice': 'selling_price',
    'kmdriven': 'kilometers_driven',
    'fuel': 'fuel',
    'seller_Type': 'seller_type',
    'transmission': 'transmission',
    'owner': 'owner'
}, inplace=True) # inplace=True - изменяется текущий DataFrame вместо создания нового

# Проверяем новые названия
print(df.columns)

Index(['name', 'year', 'selling_price', 'kilometers_driven', 'fuel',
       'seller_type', 'transmission', 'owner'],
      dtype='object')

Проверка данных на наличие пропусков:

In [41]:
print(df.isna())
print(df.isna().sum())

       name   year  selling_price  kilometers_driven   fuel  seller_type  \
0     False  False          False              False  False        False
1     False  False          False              False  False        False
2     False  False          False              False  False        False
3     False  False          False              False  False        False
4     False  False          False              False  False        False
...     ...    ...            ...                ...    ...          ...
4339  False  False          False              False  False        False
4340  False  False          False              False  False        False
4341  False  False          False              False  False        False
4342  False  False           True               True  False        False
4343  False  False           True              False   True        False

      transmission  owner
0            False  False
1            False  False
2            False  False
3            False  False
4            False  False
...            ...    ...
4339         False  False
4340         False  False
4341         False  False
4342         False  False
4343         False  False

[4344 rows x 8 columns]
name                 0
year                 0
selling_price        2
kilometers_driven    1
fuel                 1
seller_type          0
transmission         0
owner                0
dtype: int64

Удаление строк, в которых в столбцах selling_price, kilometers_driven или fuel есть NaN:

In [42]:
df = df.dropna(subset=['selling_price', 'kilometers_driven', 'fuel'])
print(df.tail(3))

                  name  year  selling_price  kilometers_driven    fuel  \
4339  Renault KWID RXT  2016       225000.0            40000.0  Petrol
4340  Renault KWID RXT  2016       225000.0            40000.0  Petrol
4341  Renault KWID RXT  2016       225000.0            40000.0  Petrol

     seller_type transmission        owner
4339  Individual       Manual  First Owner
4340  Individual       Manual  First Owner
4341  Individual       Manual  First Owner

Получение и удаление явных дубликатов:

In [43]:
df[df.duplicated()] # Получение явных дубликатов с помощью логической индексации
print(df.duplicated().sum()) # Подсчет количества явных дубликатов

763

In [44]:
df = df.drop_duplicates().reset_index(drop=True) # Удаление дубликатов и обновление индексации
                                             # аргумент drop, чтобы не создавать столбец index
print(df.duplicated().sum()) # Подсчет количества явных дубликатов

0

Получение и удаление (замена) неявных дубликатов:

---

In [45]:
print(df['fuel'].unique()) # Поиск уникальных значений для выявления неявных дубликатов
print(df['seller_type'].unique())
print(df['transmission'].unique())
print(df['owner'].unique())

['Petrol' 'Diesel' 'Petroll' 'CNG' 'LPG' 'Electric']
['Individual' 'Dealer' 'Dealeer' 'Trustmark Dealer']
['Manual' 'Automatic']
['First Owner' 'Second Owner' 'Fourth & Above Owner' 'Third Owner'
 'Test Drive Car']

In [46]:
df['fuel'] = df['fuel'].replace('Petroll', 'Petrol') # Удаление неявных дубликатов путём замены
df['seller_type'] = df['seller_type'].replace('Dealeer', 'Dealer')
print(df['fuel'].unique()) # Проверка путём определения уникальных значений
print(df['seller_type'].unique())

['Petrol' 'Diesel' 'CNG' 'LPG' 'Electric']
['Individual' 'Dealer' 'Trustmark Dealer']

Проверка типов данных в столбцах:

In [47]:
print(df.dtypes)
print(df.head(1))

name                  object
year                   int64
selling_price        float64
kilometers_driven    float64
fuel                  object
seller_type           object
transmission          object
owner                 object
dtype: object
            name  year  selling_price  kilometers_driven    fuel seller_type  \
0  Maruti 800 AC  2007        60000.0            70000.0  Petrol  Individual

  transmission        owner
0       Manual  First Owner

Изменение типов данных столбцов:

In [48]:
df['selling_price'] = df['selling_price'].astype('int64') # Применение метода astype для перевода в нужный тип
df['kilometers_driven'] = df['kilometers_driven'].astype('int64')
print(df.dtypes)
print(df.head(1))

name                 object
year                  int64
selling_price         int64
kilometers_driven     int64
fuel                 object
seller_type          object
transmission         object
owner                object
dtype: object
            name  year  selling_price  kilometers_driven    fuel seller_type  \
0  Maruti 800 AC  2007          60000              70000  Petrol  Individual

  transmission        owner
0       Manual  First Owner

Задание 1:

In [49]:
grouped_fuel_seller = df.groupby(['fuel', 'seller_type']).size() # Группировка fuel по количеству seller_type
print(grouped_fuel_seller)

fuel      seller_type
CNG       Dealer                 9
          Individual            28
Diesel    Dealer               377
          Individual          1409
          Trustmark Dealer      14
Electric  Dealer                 1
LPG       Dealer                 1
          Individual            21
Petrol    Dealer               324
          Individual          1376
          Trustmark Dealer      19
dtype: int64

Задание 2:

In [50]:
df_fuel_seller = grouped_fuel_seller.reset_index() # Создание DataFrame из группировки
df_fuel_seller.columns = ['fuel', 'seller_type', 'count'] # Переименование столбца с количеством в 'count'
df_fuel_seller_sorted = df_fuel_seller.sort_values(by='count', ascending=False) # Сортировка по столбцу 'count' (ascending=False - по убыванию)
print(df_fuel_seller_sorted)

        fuel       seller_type  count
3     Diesel        Individual   1409
9     Petrol        Individual   1376
2     Diesel            Dealer    377
8     Petrol            Dealer    324
1        CNG        Individual     28
7        LPG        Individual     21
10    Petrol  Trustmark Dealer     19
4     Diesel  Trustmark Dealer     14
0        CNG            Dealer      9
6        LPG            Dealer      1
5   Electric            Dealer      1

Задание 3:

In [51]:
pivot_owner_price = df.pivot_table(values='selling_price', index='owner') # Создание сводной таблицы с расчетом средней цены по владельцам
pivot_owner_price_sorted = pivot_owner_price.sort_values(by='selling_price', ascending=False) # Сортировка по убыванию средней цены
pivot_owner_price_sorted = pivot_owner_price_sorted.round(2) # Округление до двух знаков
print(pivot_owner_price_sorted)

                      selling_price
owner
Test Drive Car            954293.94
First Owner               565513.71
Second Owner              341850.00
Third Owner               266142.21
Fourth & Above Owner      181213.29

Задание 4:

In [52]:
pivot_owner_seller_price = df.pivot_table(values='selling_price', index='seller_type', columns='owner') # Создание сводной таблицы с типом продавца
                                                                                                        # в строках и типом владельца в столбцах
pivot_owner_seller_price_sorted = pivot_owner_seller_price.sort_index() # Сортировка по возрастанию по seller_type
pivot_owner_seller_price_sorted = pivot_owner_seller_price_sorted.round(2) # Округление до двух знаков
print(pivot_owner_seller_price_sorted)

owner             First Owner  Fourth & Above Owner  Second Owner  \
seller_type
Dealer              679505.08             117499.50     468499.94
Individual          518820.19             182958.88     326687.32
Trustmark Dealer    823709.68                   NaN     800000.00

owner             Test Drive Car  Third Owner
seller_type
Dealer                 954293.94    462333.22
Individual                   NaN    259836.07
Trustmark Dealer             NaN          NaN